<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.com/libraries/font-awesome">
    <title>Scripts</title>
</head>
<body>
    <header>
        <h1>TP integrador C. AP grupo 2 Script</h1>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
        <li><a href="/tp">SCRIPT TP</a></li>
        <li><a href="/ubuntu">UBUTUN DOC</a></li>
        </ul>
        </nav>
        
      </header>

      <main>
          <section>
              <h2>Firewall</h2>
              <p>*filter</p>
                <p>:INPUT DROP [2:72]</p>
                <p>:FORWARD DROP [149:17679]</p>
                <p>:OUTPUT DROP [36:3584]</p>
                <p>:LOGGING - [0:0]</p>
                <p>-A INPUT -i lo -j ACCEPT</p>
                <p>-A INPUT -s 192.168.20.2/32 -p tcp -m tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT</p>
                <p>-A FORWARD -s 192.168.20.4/32 -d 192.168.10.3/32 -p tcp -m tcp --dport 8080 -j ACCEPT</p>
                <p>-A FORWARD -s 192.168.10.3/32 -d 192.168.20.4/32 -p tcp -m tcp --sport 8080 -j ACCEPT</p>
                <p>-A FORWARD -s 192.168.20.3/32 -i eth2 -o eth0 -j ACCEPT</p>
                <p>-A FORWARD -d 192.168.20.3/32 -i eth0 -o eth2 -j ACCEPT</p>
                <p>-A OUTPUT -o lo -j ACCEPT</p>
                <p>-A OUTPUT -d 192.168.20.2/32 -p tcp -m tcp --sport 22 -m state --state ESTABLISHED -j ACCEPT</p>
                <p>COMMIT</p>
                <p>#</p>
                <p>#</p>
                <p>*nat</p>
                <p>:PREROUTING ACCEPT [2416:185451]</p>
                <p>:INPUT ACCEPT [0:0]</p>
                <p>:OUTPUT ACCEPT [177:16382]</p>
                <p>:POSTROUTING ACCEPT [1179:72455]</p>
                <p>-A POSTROUTING -s 192.168.20.3/32 -o eth0 -j MASQUERADE</p>
                <p>COMMIT</p>
                <p>#</p>
                 
          </section>
          <section>
              <h2>script</h2>
              
              <p></p>     function mostrar_menu(){
                    <p></p>         clear
                    <p></p>         echo "1) Sucesion de Fibonacci según el numero ingresado"
                    <p></p>         echo "2) Numero en forma invertida"
                    <p></p>         echo "3) Palindromo"
                    <p></p>          echo "4) Cantidad de lineas de un archivo"
                    <p></p>          echo "5) Ordenar numeros"
                    <p></p>          echo "6) Cuantos archivos de cada tipo"
                    <p></p>          echo "7) Salir"
                    <p></p>          echo "-------------------------------------------------------------"
                    <p></p>       }
                
                <p></p>       function salir_saludando(){
                    <p></p>           NOMBRE=$1 # Guardo el parametro nro. 1 que recibe la function
                    <p></p>           echo "Chau $NOMBRE"
                    <p></p>           sleep 2
                    <p></p>       }
                
                <p></p>      function fibonacci(){
                    <p></p>         cantidad=$1 #Numero ingreado por teclado
                    <p></p>        aux=1
                    <p></p>        aux2=1
                    <p></p>          echo $aux
                    <p></p>           if [ $1 -gt 1 ]
                    <p></p>         then
                    <p></p>           echo $aux2
                        <p></p>       fi
                    
                    <p></p>        for((i=3;i<=cantidad;i++))
                    <p></p>           do	
                        <p></p>               val=`expr $aux + $aux2`
                            <p></p>              echo $val
                            <p></p>              aux=$aux2
                            <p></p>               aux2=$val		
                            <p></p>          done
                        <p></p>   }
                
                <p></p>  # ---------------------------- PROGRAMA PRINCIPAL ---------------------------- #
                <p></p>  OPCION=0
                <p></p>  mostrar_menu
                
                <p></p>  while true; do
                <p></p>    read -p "Ingrese una opcion: " OPCION # Mensaje y read en la misma linea
                    <p></p>   case $OPCION in
                    <p></p>      1)
                        <p></p>         NUM=0
                            <p></p>        read -p "Ingrese un numero para ver la serie de Fibonacci: " NUM
                            <p></p>        fibonacci $NUM ;;		
                            <p></p>     2)
                        <p></p>         NUM=0
                            <p></p>        read -p "Ingrese un numero entero: " NUM
                            <p></p>        echo $NUM | rev ;;
                            <p></p>    3)
                        <p></p>       read -p "Ingrese una cadena de caracteres: " cadena
                            <p></p>      cadenaInvertida=`echo $cadena | rev`
                            <p></p>       if [ $cadena = $cadenaInvertida ]
                            <p></p>       then
                            <p></p>           echo "Es Palindormo"
                                <p></p>       else
                                <p></p>            echo "NO es Palindormo"
                                <p></p>       fi ;;
                            <p></p>    4)
                        <p></p>        read -p "Ingrese el path del archivo de texto: " path
                            <p></p>       if [ -f $path ]
                            <p></p>       then
                            <p></p>           cantLineas=`cat $path |wc -l`
                                <p></p>          echo "Cantidad de lineas que tiene el archivo: $cantLineas"
                                <p></p>       else
                            <p></p>           echo "El path ingresado no corresponde a un archivo" 
                                <p></p>       fi	;;
                            <p></p>   5) 
                        <p></p>    echo "Ingrese 5 numeros enteros: " 
                            <p></p>   for((i=1;i<=5;i++))
                            <p></p>   do
                                <p></p>       read -p "Numero $i: " numero$i
                                    <p></p>    done
                                
                                <p></p>echo -e "$numero1\n$numero2\n$numero3\n$numero4\n$numero5" | sort -n ;; 
                            
                            <p></p> 6)
                        <p></p> read -p "Ingrese un directorio: " path
                            <p></p>if [ -d $path ]
                            <p></p>then
                            <p></p> find $path -type f | sed -n 's/..*\.//p'  |sort |uniq -c
                                <p></p>else
                                echo "El directorio no existe" 
                                <p></p>fi	;;
                                        
                            <p></p> 7)  salir_saludando `whoami` # Ejecuto whoami y lo paso como parametro
                        <p></p>break;;
                
                            <p></p>*)  echo "Opcion incorrecta";;
                        <p></p>esac
                    <p></p>done
                <p></p>exit 0
                
              
          </section>
      </main>
      <footer>
        <img src="./img/logoup.png" alt="up">
      </footer>
    
</body>
</html>